In [1]:
import pandas as pd

from sqlalchemy import create_engine

In [21]:
taxi = pd.read_csv("yellow_tripdata_2021-01.csv")

In [5]:
taxi.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2.0,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1.0,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2.0,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1.0,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1.0,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1.0,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1.0,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2.0,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1.0,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [6]:
taxi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1369765 entries, 0 to 1369764
Data columns (total 18 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   VendorID               1271413 non-null  float64
 1   tpep_pickup_datetime   1369765 non-null  object
 2   tpep_dropoff_datetime  1369765 non-null  object
 3   passenger_count        1271413 non-null  float64
 4   trip_distance          1369765 non-null  float64
 5   RatecodeID             1271413 non-null  float64
 6   store_and_fwd_flag     1271413 non-null  object
 7   PULocationID           1369765 non-null  int64
 8   DOLocationID           1369765 non-null  int64
 9   payment_type           1271413 non-null  float64
 10  fare_amount            1369765 non-null  float64
 11  extra                  1369765 non-null  float64
 12  mta_tax                1369765 non-null  float64
 13  tip_amount             1369765 non-null  float64
 14  tolls_amount           1369765 non-null  float64
 15  improvement_surcharge  1369765 non-null  float64
 16  total_amount           1369765 non-null  float64
 17  congestion_surcharge   1369765 non-null  float64
dtypes: float64(13), int64(2), object(3)
memory usage: 188.1+ MB

In [7]:
# Convert our date columns to a date-time data type
taxi.tpep_pickup_datetime = pd.to_datetime(taxi.tpep_pickup_datetime)
taxi.tpep_dropoff_datetime = pd.to_datetime(taxi.tpep_dropoff_datetime)

In [8]:
# Print a DDL (data definition language) statement. This is basically SQL code that will generate our table for us, based on the columns
# and datatypes of our pandas dataframe.
print(pd.io.sql.get_schema(taxi, name = 'yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" REAL,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [17]:
# Create connection to postgres. Here we specify type of database, then the user, the password, at local host, the port, and the database name
engine = create_engine('postgresql://root:root@localhost:5431/ny_taxi')

We can now run the `get_schema` code again, specifying the connection. This will then print the DDL specific for postgres.

In [18]:
print(pd.io.sql.get_schema(taxi, name = 'yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" FLOAT(53),
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag FLOAT(53),
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [22]:
len(taxi)

1369765

Because we have so many records in our CSV file, what we want to do is chunk our data, and add 100000 records to our database at a time

In [23]:
# This will be an iterator object
taxi_iter = pd.read_csv("yellow_tripdata_2021-01.csv", iterator = True, chunksize = 100000)

In [26]:
# Convert our date columns to a date-time data type
taxi.tpep_pickup_datetime = pd.to_datetime(taxi.tpep_pickup_datetime)
taxi.tpep_dropoff_datetime = pd.to_datetime(taxi.tpep_dropoff_datetime)

Let's now create our table within our database, but only with the headings

In [13]:
taxi.head(0)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge]
Index: []

In [27]:
# Create table without inserting anything
taxi.head(0).to_sql(name = 'yellow_taxi_data', con = engine, if_exists = 'replace')

In [28]:
# Insert actual data for each chuck
count = 1
while True:
    taxi = next(taxi_iter)
    taxi.tpep_pickup_datetime = pd.to_datetime(taxi.tpep_pickup_datetime)
    taxi.tpep_dropoff_datetime = pd.to_datetime(taxi.tpep_dropoff_datetime)
    taxi.to_sql(name = 'yellow_taxi_data', con = engine, if_exists = 'append')
    print(f"Finished Iteration {count}")
    count += 1

Finished Iteration 1
Finished Iteration 2
Finished Iteration 3
Finished Iteration 4
Finished Iteration 5
Finished Iteration 6
Finished Iteration 7
Finished Iteration 8
Finished Iteration 9
Finished Iteration 10
Finished Iteration 11
Finished Iteration 12
Finished Iteration 13
Finished Iteration 14

StopIteration: